<article>
    <figure class="thumbnail">
        <div class="img-container img-about"></div>
    </figure>
    <section class="main-article">
        <h3>Quality services guarantee a happy stay</h3>
        <h4>Casa La Copa offers the following services:</h4>
        <b>Breakfast</b> is included in the cost of rent.
        <b>Lunch and dinner</b> upon request provide a variety of dishes and desserts that surprise your palate, combining traditional cuisine with the innovation of the chef of the house Dona Maria, based on good products of the island such as meat, fish, poultry accompanied with the typical Creole food such as black beans, cream, vegetables and meats.
        <b>Laundry services.</b>
        <b>Pick up service at the airport and bus stations.</b>
        <b>Daily room service.</b>
        <b>Telephone Service.</b>
        <b>Parking service.</b>
        <b>Tourist guide services in the city.</b>
        <b>Taxi service 24-hour.</b>
    </section>
</article>