<article>
    <figure class="thumbnail">
        <img src="~/Images/gallery/hall_0.jpg" alt="Picture of the house">
    </figure>
    <section class="main-article">
        <h3>Excellent house with three comfortable bedrooms</h3>
        <p>
            The house is located in a residential area of Havana, you will find a comfortable apartment of the 50s with wide spaces, privacy and security that will guarantee a happy stay in the city of Havana. Upon arrival you will be greeted by Jose Luis house manager who will manage the services requested and also provide you the information needed to plan your trips and excursions during your days of stay.
        </p>
    </section>
</article>