<article>
    <figure class="thumbnail">
        <div class="img-container img-bedroom"></div>
    </figure>
    <section class="main-article">
        <h3>The good taste at rest</h3>
        <p>
            Our home has three luxurious private rooms of different styles each with its own bathroom, hot and cold water, air conditioning, TV with DVD, A / C, safe and minimum required provisioning included for enjoyment thereof. In the case of the Yellow Room also it has an extra single bed for a third person if requested by the customer in your reservation.
        </p>
    </section>
</article>