<article>
    <figure class="thumbnail">
        <img src="~/Images/gallery/outside_5.jpg" alt="Picture of the house" style="height: 282px;">
    </figure>
    <section class="main-article">
        <h3>An option for the enjoyment of all</h3>
        <p>
            The house has several common areas such as living room, dining room, under balcony and a terrace with nice view of the area where you can have breakfast, enjoy the sun, smoke and other recreational nature activities like reading, dancing and exercise physicists.
        </p>
    </section>
</article>