<article>
    <figure class="thumbnail">
        <div class="img-container img-todo"></div>
    </figure>
    <section class="main-article">
        <h3>Options for all tastes</h3>
        <p>
            The site has a variety of options for all tastes, you will find in your environment for the enjoyment of the day, the pool and beach of <b>"Copacabana and Chato Hotel Miramar"</b>; the "National Aquarium" with shows of dolphins, sea lions and the "Big Blue restaurant" where you can enjoy an excellent water ballet; You can also find food and beverage supermarkets, craft shops in the various hotels where you can also make changes in currency and use the Internet or wireless services available to the same.<br />
             At night also it has nearby restaurants to enjoy dinner as <b>"La Fontana"</b> specializing in international cuisine and <b>"The Carboncita"</b> Italian food in both restaurants of international prestige, as well as several other options "Snack Bar" and "Clubs". Other cultural sites can be <b>"Le Select"</b>, <b>"Dos Gardenias"</b>, <b>"The House of Miramar Musica"</b> concert to enjoy Cuban musical groups, performing arts and dance and sing to passing a pleasant evening in Miramar.
        </p>
    </section>
</article>